.carousel-control .fa-chevron-left,
.carousel-control .fa-chevron-right {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  z-index: 5;
  display: inline-block;
}

.carousel-control .fa-chevron-left {
  left: 50%;
  margin-left: -10px;
}

.carousel-control .fa-chevron-right {
  right: 50%;
  margin-right: -10px;
}

.carousel-indicators .active {
    background-color: #A94442;
    -moz-transition:  background-color 0.5s ease-in-out;
    -o-transition:  background-color 0.5s ease-in-out;
    -webkit-transition:  background-color 0.5s ease-in-out;
    transition:  background-color 0.5s ease-in-out;
}

.background{
    width: 110%;
    height: 110%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: blur(13px);
    filter: blur(13px);
    position:absolute;
}

.wrapper{
    z-index:9999;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

#slider-carousel .item .carousel-caption {
    width: 500px;
    position: absolute;
    bottom: 18px;
    
    top: inherit;
    right: inherit;

    text-align: left;
    text-shadow: none;
    color: inherit;
    padding: 15px 20px;
    background-color: white;
    opacity: 0.7;
    left: 15px;
}

.slider-img {
  max-width: 100%;
  
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.slider-img:hover {
  -moz-transform: scale(1.025);
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
}



@media(min-width: 768px) {
    #slider-carousel .item .carousel-caption {
        left: 11%;
    }

    .wrapper {
        min-width: 768px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
